<div class="form-container">
  <form (ngSubmit)="login()">
    <mat-card class="card">
      <form (ngSubmit)="login()" [formGroup]="loginForm">
        <mat-card-header>
          <mat-card-title>Identificación</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="login-container">
            <div class="input-container">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Nombre de usuario</mat-label>
                <input type="text" matInput formControlName="username" placeholder="Nombre de usuario">
                <mat-error *ngIf="usernameInput.hasError('required') && usernameInput.touched">
                  Nombre de usuario requerido
                </mat-error>
              </mat-form-field>
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input [type]="hide ? 'password' : 'text'" matInput formControlName="password" placeholder="Contraseña">
                <button mat-icon-button matSuffix (click)="hide = !hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="passwordInput.hasError('required') && passwordInput.touched">
                  Contraseña requerida
                </mat-error>
              </mat-form-field>
              <button type="submit" mat-raised-button color="accent" class="full-width" [disabled]="loginForm.invalid">ENVIAR</button>
            </div>
          </div>
        </mat-card-content>
      </form>
    </mat-card>
  </form>
</div>
