



<!--      <mat-card>-->
<!--        <mat-card-title>Ean: {{loanedBook.ean}}</mat-card-title>-->
<!--        <mat-card-subtitle>State: {{loanedBook.loanState}}</mat-card-subtitle>-->
<!--        <mat-card-content>User ID: {{loanedBook.userId}}</mat-card-content>-->
<!--        <mat-card-content>Loan date: {{loanedBook.loanDate}}</mat-card-content>-->
<!--        <mat-card-content>Return date: {{loanedBook.returnDate}}</mat-card-content>-->
<!--        <mat-card-content>Picked Up: {{loanedBook.pickedUp}}</mat-card-content>-->

<!--        <button (click)="updatePickUpLoanedBook(loanedBook.ean)">Pick Up</button>-->
<!--        <button (click)="returnBook(loanedBook.ean)">Return{{index}}</button>-->
<!--      </mat-card>-->


