.container-navbar {
  justify-content: center;
  display: flex;
  flex-flow: column;
  height: 5%;
  margin-bottom: 5%;
}

.navbar-menu {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.navbar-item:hover {
  background-color: #401801;
  color: #c9c9c9;
}
.navbar-item {
  text-align: center;
  background-color: #A1604F;
  border: rgba(208, 203, 202, 0.91) solid 1px;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #c9c9c9;
}

h1 {
  padding-top: 4%;
  font-size: 200%;
}
