
.header {
  /*background-color: #d2bea1;*/
  background-image: url("../../../assets/header.jpeg");
  background-size: cover;
  border: #fff solid 1px;
  height: 21%;
  display: flex;
  flex-flow: column;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.title {
  color: #fff;
  font-size: 500%;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 10px;
}
