
.header {
  background-image: url("../../../assets/header.jpeg");
  background-size: cover;
  /*background-blend-mode: luminosity;*/
  background-blend-mode: hard-light;
  border: #938a86 solid 1px;
  height: 21%;
  display: flex;
  flex-flow: column;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.title {
  color: #211601;
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  font-size: 8em;
  font-family: "Gill Sans MT Ext Condensed Bold";
  text-shadow: 3px 0px 0 #b7b6b6;
  -webkit-text-stroke: 1px #b7b6b6;
}
