<app-nav-bar></app-nav-bar>

<div class="container">

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><p>{{book.title}}</mat-card-title>
      <mat-card-subtitle>{{book.author}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{book.image}}" alt="Portada del libro">
    <mat-card-content>
      <p>EAN: {{book.ean}}</p>
      <p>Género: {{book.genre}}</p>
      <p>Número de páginas: {{book.pagNumber}}</p>
      <p>Idioma: {{book.language}}</p>
      <p>Año de publicación: {{book.publicationYear}}</p>
      <p>Editorial: {{book.publisher}}</p>
      <p>Argumento: {{book.plot}}</p>
    </mat-card-content>
    <mat-card-actions class="loan" *ngIf="isStudent && isAvailable">
      <button  mat-raised-button color="primary" (click)="loaningBook()">Prestar</button>
    </mat-card-actions>
    <mat-card-content *ngIf="isLoaned">El libro esta en préstamo hasta el {{this.returnDate | date:'dd/MM/yy'}}</mat-card-content>
  </mat-card>


  <mat-card-actions class="back">
    <button mat-raised-button [routerLink]="['/catalogue']">Atrás</button>
  </mat-card-actions>

</div>
