<app-nav-bar></app-nav-bar>

<div class="all">
<div class="management-container">
  <h1>Gestión del catálogo</h1>

  <mat-card-header>
    <mat-card-title>Agregar libro al catálogo</mat-card-title>
    <button [routerLink]="['/register-book']"
            mat-mini-fab color="accent">
      <mat-icon>plus_one</mat-icon>
    </button>
  </mat-card-header>

  <mat-card-header>
    <mat-card-title>Borrar libro del catálogo</mat-card-title>
    <button (click)="openDeleteBook()"
            mat-mini-fab color="accent">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-header>
  <div class="delete" *ngIf="goDelete">
    <form (ngSubmit)="deleteBook()" [formGroup]="bookForm" class="delete">
      <mat-card-content>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>EAN</mat-label>
          <input type="number" matInput formControlName="ean" placeholder="EAN">
          <mat-error *ngIf="eanToDeleteInput.hasError('required') && eanToDeleteInput.touched">
            Es necesario ingresar un EAN.
          </mat-error>
        </mat-form-field>

        <div class="delete-button">
          <button  type="button" [disabled]="bookForm.invalid" mat-raised-button color="accent" class="full-width"
                  (click)="deleteBook()">Enviar
          </button>
          <button  mat-raised-button color="warn" class="full-width"
                  (click)="goBack()">Cerrar
          </button>
        </div>
      </mat-card-content>

    </form>
  </div>
</div>


<!--borrowed books management-->

<div class="management-container">
  <h1>Gestión de libros prestados</h1>

  <mat-card-header>
    <mat-card-title>Consultar un registro</mat-card-title>
    <button (click)="findSingleLoanedBook()"
            mat-mini-fab color="accent">
      <mat-icon>lens</mat-icon>
    </button>
  </mat-card-header>

  <div class="create-loaned" *ngIf="goFindSingleLoanedBook">
    <form (ngSubmit)="showSingleBook()" [formGroup]="bookForm">
      <mat-card-content>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>EAN</mat-label>
          <input type="number" matInput formControlName="ean" placeholder="EAN">
          <mat-error *ngIf="eanToDeleteInput.hasError('required') && eanToDeleteInput.touched">
            Es necesario ingresar un EAN.
          </mat-error>
        </mat-form-field>

        <div class="create-loaned-buttons">
          <button type="button" [disabled]="bookForm.invalid" mat-raised-button color="accent" class="full-width"
                  (click)="showSingleBook()">Enviar

          </button>
          <button mat-raised-button color="warn" class="full-width"
                  (click)="goBack()">Cerrar
          </button>
        </div>
      </mat-card-content>

    </form>

    <div *ngIf="showBook" class="create-loaned">
      <div *ngFor="let singleBook of singleLoanedBook">
        <mat-card class="create-loaned-card">
          <mat-card-title>EAN: {{singleBook.ean}}</mat-card-title>
          <mat-card-content>ID de usuario: {{singleBook.userId}}</mat-card-content>
          <mat-card-content> Estado del préstamo: {{singleBook.loanState}}</mat-card-content>
          <mat-card-content>Fecha del préstamo: {{singleBook.loanDate| date:'dd/MM/yy'}}</mat-card-content>
          <mat-card-content>Fecha de devolución: {{singleBook.returnDate | date:'dd/MM/yy'}}</mat-card-content>
          <mat-card-content>Recogido: {{singleBook.pickedUp}}</mat-card-content>
        </mat-card>
      </div>
    </div>


  </div>

  <mat-card-header>
    <mat-card-title>Registrar libro perdido</mat-card-title>
    <button (click)="changeOneStatus()"
            mat-mini-fab color="accent">
      <mat-icon>cached</mat-icon>
    </button>
  </mat-card-header>
  <div class="create-loaned-lost" *ngIf="goChangeStatus">
    <form (ngSubmit)="changeStatus()" [formGroup]="bookForm">
      <mat-card-content>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>EAN</mat-label>
          <input type="number" matInput formControlName="ean" placeholder="EAN">
          <mat-error *ngIf="eanToDeleteInput.hasError('required') && eanToDeleteInput.touched">
            Es necesario ingresar un EAN.
          </mat-error>
        </mat-form-field>

        <div class="create-loaned-lost-buttons">
          <button type="button" [disabled]="bookForm.invalid" mat-raised-button color="accent" class="full-width"
                  (click)="changeStatus()">Enviar
          </button>
          <button mat-raised-button color="warn" class="full-width"
                  (click)="goBack()">Cerrar
          </button>
        </div>
      </mat-card-content>

    </form>
  </div>


  <mat-card-header>
    <mat-card-title>Consultar registro de todos los préstamos</mat-card-title>
    <button (click)="showAllLoanedBooks()" (click)="increaseCounter1()"
            mat-mini-fab color="accent">
      <mat-icon>line_weight</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content >
    <div *ngIf="isAllLoanedBook" class="registers" >
      <div *ngFor="let loanedBook of allLoanedBooks | paginate: { itemsPerPage: 5, currentPage: page,
    totalItems: totalAllLoanedBooks}">
        <mat-card class="registers-card">
          <mat-card-title>EAN: {{loanedBook.ean}}</mat-card-title>
          <mat-card-content>ID de usuario: {{loanedBook.userId}}</mat-card-content>
          <mat-card-content> Estado del préstamo: {{loanedBook.loanState}}</mat-card-content>
          <mat-card-content>Fecha del préstamo: {{loanedBook.loanDate| date:'dd/MM/yy'}}</mat-card-content>
          <mat-card-content>Fecha de devolución: {{loanedBook.returnDate | date:'dd/MM/yy'}}</mat-card-content>
          <mat-card-content>Recogido: {{loanedBook.pickedUp}}</mat-card-content>
        </mat-card>

      </div>
      <pagination-controls class="paginator"
                           (pageChange)="page = $event; allLoanedBooks = []; showAllLoanedBooksPag()"></pagination-controls>
    </div>

  </mat-card-content>


  <mat-card-header>
    <mat-card-title>Libros prestados</mat-card-title>
    <button (click)="showLoanedBooks()" (click)="increaseCounter6()"
            mat-mini-fab color="accent">
      <mat-icon>nature_people</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="isLoanedBook" class="registers">
      <div *ngFor="let loanedBook of loanedBooks | paginate: { itemsPerPage: 5, currentPage: page,
    totalItems: totalLoanedBooks};  let i =index ">
        <mat-card class="registers-card">
          <mat-card-title>EAN: {{loanedBook.ean}}</mat-card-title>
          <mat-card-content>ID de usuario: {{loanedBook.userId}}</mat-card-content>
          <mat-card-content> Estado del préstamo: {{loanedBook.loanState}}</mat-card-content>
          <mat-card-content>Fecha del préstamo: {{loanedBook.loanDate | date:'dd/MM/yy'}}</mat-card-content>
          <mat-card-content>Fecha de devolución: {{loanedBook.returnDate | date:'dd/MM/yy'}}</mat-card-content>
          <mat-card-content>Recogido: {{loanedBook.pickedUp}}</mat-card-content>

          <button (click)="updatePickUpLoanedBook(loanedBook.ean)" (click)="increaseCounter6()">Recogido</button>
          <button (click)="returnBook(loanedBook.ean)">Devuelto</button>
        </mat-card>
      </div>
      <pagination-controls
        (pageChange)="page = $event; loanedBooks = []; showLoanedBooksPag()"></pagination-controls>
    </div>
  </mat-card-content>


  <mat-card-header>
    <mat-card-title>Préstamos expirados</mat-card-title>
    <button (click)="showOverdueBooks()" (click)="increaseCounter2()"
            mat-mini-fab color="accent">
      <mat-icon>hourglass_empty</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="isOverdueBook" class="registers">
      <div *ngFor="let overdueBook of overdueBooks | paginate: { itemsPerPage: 5, currentPage: page,
    totalItems: totalOverdueBooks}">
        <mat-card class="registers-card">
          <mat-card-title>EAN: {{overdueBook.ean}}</mat-card-title>
          <mat-card-content>ID de usuario: {{overdueBook.userId}}</mat-card-content>
          <mat-card-content> Estado del préstamo: {{overdueBook.loanState}}</mat-card-content>
          <mat-card-content>Fecha del préstamo: {{overdueBook.loanDate | date:'dd/MM/yy'}}</mat-card-content>
          <mat-card-content>Fecha de devolución: {{overdueBook.returnDate | date:'dd/MM/yy'}}</mat-card-content>
          <mat-card-content>Recogido: {{overdueBook.pickedUp}}</mat-card-content>

          <button (click)="returnBook(overdueBook.ean)">Return</button>
        </mat-card>
      </div>
      <pagination-controls
        (pageChange)="page = $event; overdueBooks = []; showOverdueBooksPag()"></pagination-controls>
    </div>
  </mat-card-content>


  <mat-card-header>
    <mat-card-title>Libros disponibles</mat-card-title>
    <button (click)="showAvailableBooks()" (click)="increaseCounter3()"
            mat-mini-fab color="accent">
      <mat-icon>book</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="isAvailableBook" class="registers">
      <div *ngFor="let availableBook of availableBooks | paginate: { itemsPerPage: 5, currentPage: page,
    totalItems: totalAvailableBooks }">
        <mat-card class="registers-card">
          <mat-card-title>EAN: {{availableBook.ean}}</mat-card-title>
          <mat-card-subtitle>{{availableBook.loanState}}</mat-card-subtitle>
        </mat-card>
      </div>

      <pagination-controls
        (pageChange)="page = $event; availableBooks = []; showAvailableBooksPag()"></pagination-controls>
    </div>
  </mat-card-content>


  <mat-card-header>
    <mat-card-title>Libros perdidos</mat-card-title>
    <button (click)="showLostBooks()" (click)="increaseCounter4()"
            mat-mini-fab color="accent">
      <mat-icon>error</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="isLostBook" class="registers">
      <div *ngFor="let lostBook of lostBooks | paginate: { itemsPerPage: 5, currentPage: page,
    totalItems: totalLostBooks}">
        <mat-card class="registers-card">
            <mat-card-title>EAN: {{lostBook.ean}}</mat-card-title>
            <mat-card-content>ID de usuario: {{lostBook.userId}}</mat-card-content>
            <mat-card-content> Estado del préstamo: {{lostBook.loanState}}</mat-card-content>
            <mat-card-content>Fecha del préstamo: {{lostBook.loanDate | date:'dd/MM/yy'}}</mat-card-content>
            <mat-card-content>Fecha de devolución: {{lostBook.returnDate | date:'dd/MM/yy'}}</mat-card-content>
            <mat-card-content>Recogido: {{lostBook.pickedUp}}</mat-card-content>
          </mat-card>
      </div>
      <pagination-controls
        (pageChange)="page = $event; lostBooks = []; showLostBooksPag()"></pagination-controls>
    </div>
  </mat-card-content>
</div>

<div class="management-container">
  <h1>Gestión de usuarios</h1>

  <mat-card-header>
    <mat-card-title>Mostrar usuarios</mat-card-title>
    <button (click)="showUsers()" (click)="increaseCounter5()"
            mat-mini-fab color="accent">
      <mat-icon>people</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="isShowUser" class="registers">
      <div *ngFor="let user of userList">
        <mat-card class="registers-card">
          <mat-card-title>ID de usuario: {{user.id}}</mat-card-title>
          <mat-card-content>Nombre de usuario: {{user.username}}</mat-card-content>
        </mat-card>
      </div>

    </div>
  </mat-card-content>
</div>
</div>
