.management-container {
  background-color: #dccdcd;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin: 3%;
  padding: 2%;
  width: 90%;
  border-radius: 0.5em;
}
h1{
  font-weight: bolder;
  text-decoration-line: underline;
}
mat-card-header{
  display: flex;
  justify-content: space-evenly;
  margin: 1%;
}

.buttons{
  display: flex;
  flex-flow: row;
  justify-content: center;
}

