<app-nav-bar></app-nav-bar>

<div class="container">

    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>
          <h1>New book register</h1>
        </mat-card-title>
      </mat-card-header>

      <form (ngSubmit)="onSubmit()" [formGroup]="bookForm">
        <mat-card-content>
          <div class="book-container">


              <mat-form-field class="full-width" appearance="outline">
                <mat-label>EAN</mat-label>
                <input type="number" matInput formControlName="ean" placeholder="EAN">
                <mat-error *ngIf="eanInput.hasError('required') && eanInput.touched">
                  EAN is required
                </mat-error>
              </mat-form-field>

              <mat-form-field class="full-width" appearance="outline">
                <mat-label>TITLE</mat-label>
                <input type="text" matInput formControlName="title" placeholder="Title">
                <mat-error *ngIf="titleInput.hasError('required') && titleInput.touched">
                  Title is required
                </mat-error>
              </mat-form-field>

              <mat-form-field class="full-width" appearance="outline">
                <mat-label>AUTHOR</mat-label>
                <input type="text" matInput formControlName="author" placeholder="Author">
                <mat-error *ngIf="authorInput.hasError('required') && authorInput.touched">
                  Author is required
                </mat-error>
              </mat-form-field>


            <div class="input-container-two-items">
              <mat-form-field class="two-items" appearance="outline">
                <mat-label>GENRE</mat-label>
                <input type="text" matInput formControlName="genre" placeholder="Genre">
                <mat-error *ngIf="genreInput.hasError('required') && genreInput.touched">
                  Genre is required
                </mat-error>
              </mat-form-field>

              <mat-form-field class="two-items" appearance="outline">
                <mat-label>LANGUAGE</mat-label>
                <input type="text" matInput formControlName="language" placeholder="Language">
                <mat-error *ngIf="languageInput.hasError('required') && languageInput.touched">
                  Language is required
                </mat-error>
              </mat-form-field>
            </div>

            // cambiar topuch

            <div class="input-container-two-items">
              <mat-form-field class="two-items" appearance="outline">
                <mat-label>PAGES NUMBER</mat-label>
                <input type="number" matInput formControlName="pagNumber" placeholder="Pages number">
                <mat-error *ngIf="pagNumberInput.hasError('required') && pagNumberInput.touched">
                  The number of pages is required
                </mat-error>
              </mat-form-field>


              <mat-form-field class="two-items" appearance="outline">
                <mat-label>PUBLICATION YEAR</mat-label>
                <input type="number" matInput formControlName="publicationYear" placeholder="Publication year">
                <mat-error *ngIf="publicationYearInput.hasError('required') && publicationYearInput.touched">
                  Publication year is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="input-container-two-items">
              <mat-form-field class="two-items" appearance="outline">
                <mat-label>PUBLISHER</mat-label>
                <input type="text" matInput formControlName="publisher" placeholder="Publisher">
                <mat-error *ngIf="publisherInput.hasError('required') && publisherInput.touched">
                  Publisher is required
                </mat-error>
              </mat-form-field>

              <mat-form-field class="two-items" appearance="outline">
                <mat-label>FRONT PAGE</mat-label>
                <input type="text" matInput formControlName="image" placeholder="Front page">
              </mat-form-field>

            </div>

            <mat-form-field  class="full-width" appearance="outline">
              <mat-label>PLOT</mat-label>
              <input type="text" class="plot" matInput formControlName="plot" placeholder="Plot">
              <mat-error *ngIf="plotInput.hasError('required') && plotInput.touched">
                Plot is required
              </mat-error>
            </mat-form-field>

              <div class="buttons">
                <button type="submit" [disabled]="bookForm.invalid" mat-raised-button color="accent" class="full-width"
                        >Submit
                </button>

                <button mat-raised-button color="warn" class="full-width"
                        [routerLink]="['/librarian-home']">Close
                </button>
              </div>

          </div>
        </mat-card-content>
      </form>
    </mat-card>

</div>
