<app-nav-bar></app-nav-bar>

<div class="container">

    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>
          <h1>Agregar libro al catálogo</h1>
        </mat-card-title>
      </mat-card-header>

      <form (ngSubmit)="onSubmit()" [formGroup]="bookForm">
        <mat-card-content>
          <div class="book-container">


              <mat-form-field class="full-width" appearance="outline">
                <mat-label>EAN</mat-label>
                <input type="number" matInput formControlName="ean" placeholder="EAN">
                <mat-error *ngIf="eanInput.hasError('required') && eanInput.touched">
                  Es necesario ingresar un EAN
                </mat-error>
              </mat-form-field>

              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Título</mat-label>
                <input type="text" matInput formControlName="title" placeholder="Título">
                <mat-error *ngIf="titleInput.hasError('required') && titleInput.touched">
                  Es necesario ingresar un título
                </mat-error>
              </mat-form-field>

              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Autor</mat-label>
                <input type="text" matInput formControlName="author" placeholder="Autor">
                <mat-error *ngIf="authorInput.hasError('required') && authorInput.touched">
                  Es necesario ingresar un autor
                </mat-error>
              </mat-form-field>


            <div class="input-container-two-items">
              <mat-form-field class="two-items" appearance="outline">
                <mat-label>Género</mat-label>
                <input type="text" matInput formControlName="genre" placeholder="Género">
                <mat-error *ngIf="genreInput.hasError('required') && genreInput.touched">
                  Es necesario ingresar un género
                </mat-error>
              </mat-form-field>

              <mat-form-field class="two-items" appearance="outline">
                <mat-label>Idioma</mat-label>
                <input type="text" matInput formControlName="language" placeholder="Idioma">
                <mat-error *ngIf="languageInput.hasError('required') && languageInput.touched">
                  Es necesario ingresar un idioma
                </mat-error>
              </mat-form-field>
            </div>

            <div class="input-container-two-items">
              <mat-form-field class="two-items" appearance="outline">
                <mat-label>Nº Páginas</mat-label>
                <input type="number" matInput formControlName="pagNumber" placeholder="Número de páginas">
                <mat-error *ngIf="pagNumberInput.hasError('required') && pagNumberInput.touched">
                  Es necesario ingresar un número de páginas
                </mat-error>
              </mat-form-field>


              <mat-form-field class="two-items" appearance="outline">
                <mat-label>Año de publicación</mat-label>
                <input type="number" matInput formControlName="publicationYear" placeholder="Año de publicación">
                <mat-error *ngIf="publicationYearInput.hasError('required') && publicationYearInput.touched">
                  Es necesario ingresar un año de publicación
                </mat-error>
              </mat-form-field>
            </div>
            <div class="input-container-two-items">
              <mat-form-field class="two-items" appearance="outline">
                <mat-label>Editorial</mat-label>
                <input type="text" matInput formControlName="publisher" placeholder="Editorial">
                <mat-error *ngIf="publisherInput.hasError('required') && publisherInput.touched">
                  Es necesario ingresar una editorial
                </mat-error>
              </mat-form-field>

              <mat-form-field class="two-items" appearance="outline">
                <mat-label>Portada</mat-label>
                <input type="text" matInput formControlName="image" placeholder="Portada">
              </mat-form-field>

            </div>

            <mat-form-field  class="full-width" appearance="outline">
              <mat-label>Argumento</mat-label>
              <textarea type="text" class="plot" matInput formControlName="plot" placeholder="Argumento"></textarea>
              <mat-error *ngIf="plotInput.hasError('required') && plotInput.touched">
                Plot is required
              </mat-error>
            </mat-form-field>

              <div class="buttons">
                <button type="submit" [disabled]="bookForm.invalid" mat-raised-button color="accent" class="full-width"
                        >Enviar
                </button>

                <button mat-raised-button color="warn" class="full-width"
                        [routerLink]="['/librarian-home']">Cerrar
                </button>
              </div>

          </div>
        </mat-card-content>
      </form>
    </mat-card>

</div>
