<app-nav-bar></app-nav-bar>
<h1>Personal Area</h1>

<div>
  <h1>Loaned Books</h1>
  <div>
    <mat-card>
      <div *ngFor="let loanedBook of loanedBooks, let i = index">
        <mat-card-header>
<!--          <mat-card-title>{{showTitle(loanedBook.ean)}}</mat-card-title>-->
          <mat-card-title>{{loanedBook.ean}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p [ngClass]="{'overdue': loanedBook.loanState==='OVERDUE'}">{{loanedBook.loanState}}</p>
          <p>{{loanedBook.loanDate}}</p>
          <p [ngClass]="{'overdue': loanedBook.loanState==='OVERDUE'}">{{loanedBook.returnDate}}</p>
          <p>{{loanedBook.pickedUp}}</p>
        </mat-card-content>


        <p *ngIf="isOverdueLoanedBook">OVERDUEEEEEEEEEEEEEE</p>
      </div>
    </mat-card>
  </div>
</div>
