<app-nav-bar></app-nav-bar>

<div class="all">

  <div class="container">
      <h1>Loaned Books</h1>
      <div *ngFor="let loanedBook of loanedBooks, let i = index">
        <mat-card class="card">
          <mat-card-title>EAN: {{loanedBook.ean}}</mat-card-title>
          <mat-card-content>ID de usuario: {{loanedBook.userId}}</mat-card-content>
          <mat-card-content> Estado del préstamo: {{loanedBook.loanState}}</mat-card-content>
          <mat-card-content>Fecha del préstamo: {{loanedBook.loanDate | date:'dd/MM/yy'}}</mat-card-content>
          <mat-card-content>Fecha de devolución: {{loanedBook.returnDate | date:'dd/MM/yy'}}</mat-card-content>
          <mat-card-content>Recogido: {{loanedBook.pickedUp}}</mat-card-content>
          <p *ngIf="loanedBook.loanState==='OVERDUE'"
             [ngClass]="{'overdue': loanedBook.loanState==='OVERDUE'}"> El préstamo ha expirado<br>
            por favor devuelva el
            <br>libro a la biblioteca</p>
        </mat-card>
      </div>
  </div>
</div>
