<app-nav-bar></app-nav-bar>

<h1>Personal Area</h1>

<div>
  <h1>Loaned Books</h1>
  <div>
    <table>
      <tr>
        <th>EAN</th>
        <th>STATE</th>
        <th>LOAN DATE</th>
        <th>RETURN DATE</th>
      </tr>
      <div *ngFor="let loanedBook of loanedBooks, let i = index">
        <p>{{loanedBook.ean}}</p>
        <p>{{loanedBook.loanState}}</p>
        <p>{{loanedBook.loanDate}}</p>
        <p>{{loanedBook.returnDate}}</p>
      </div>
<!--      <button (click)="returnBook()">Return</button>-->
    </table>

  </div>
</div>
